body {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

p {
    margin: 0;
}

/* header */

body > header {
    position: absolute;
    background-color: #040404;
    width: 100%;
    height: 80px;

}

body > header > a:first-child > img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 8.13vw;
    width: 50.4375px;
    aspect-ratio: auto;
}

body > header > nav {
    height: fit-content;
    width: fit-content;
    position: absolute;
    right: 6.93vw;
    top: 0;
    bottom: 0;
    margin: auto;

}

body > header > nav > a {
    color: #FFFFFF;
    text-decoration: unset;
    font-size: 24px;
    font-weight: 500;
    margin-right: 1.875vw;

}

/* projects section */
body > main > section {
    position: relative;
    width: 100%;
    height: 1165px;
    background-color: #040404;
    z-index: -1;

}

body > main > section > h1 {
    position: absolute;
    display: flex;
    width: 83vw;
    height: 82px;
    background-color: #1C1C1C;
    color: #E85D04;
    font-size: 48px;
    font-weight: 700;
    top: 136px;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
    align-items: center;

}

body > main > section > div:nth-child(2){
    position: absolute;
    display: flex;
    height: fit-content;
    width: 83vw;
    top: 300px;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: space-between;



}

body > main > section > div:nth-child(2) > div {
    position: relative;
    width: 452px;
    height: 620px;
    background-color: #1C1C1C;
    /*margin: 24px;*/

}

body > main > section > div:nth-child(2) > div:nth-child(2) {

}

body > main > section > div:nth-child(2) > div > img:first-child {
    position: absolute;
    width: 452px;
    height: 240px;
    font-size: 48px;
    font-weight: 600;
    left: 0;
    right: 0;
    margin: auto;

}

body > main > section > div:nth-child(2) > div > p {
    position: absolute;
    height: fit-content;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;

}

body > main > section > div:nth-child(2) > div > p:nth-child(2) {
    width:  300px;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    top: 281px;

}

body > main > section > div:nth-child(2) > div > p:nth-child(3) {
    width: fit-content;
    font-size: 16px;
    font-weight: 200;
    top: 399px;

}

body > main > section > div:nth-child(2) > div > img:nth-child(4) {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 35px;
    margin: auto;

}

body > main > section > div:nth-child(2) > div:first-child > img:nth-child(4) {
    width: 133px;
    height: 126px;

}

body > main > section > div:nth-child(2) > div:nth-child(2) > img:nth-child(4) {
    width: 107px;
    height: 108px;

}

/* footer */
body > footer {
    position: relative;
    width: 100%;
    height: 427px;
    background-color: #040404;

}

body > footer > div:first-child {
    position: relative;
    width: 100%;
    height: 385px;
    background-color: #1C1C1C;

}

body > footer > div > h3 {
    position: absolute;
    width: fit-content;
    height: fit-content;
    font-size: 40px;
    font-weight: 500;
    left: 0;
    right: 0;
    margin: auto;
    top: 30px;

}

body > footer > div > div {
    position: absolute;
    height: fit-content;
    width: fit-content;

}

body > footer > div > div > img {
    position: absolute;
    width: 72px;
    height: 62px;
    left: 0;
    right: 0;
    margin: auto;

}

body > footer > div > div > h4 {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    text-align: center;

}

body > footer > div > div > p {
    position: relative;
    width: fit-content;
    height: fit-content;
    font-size: 16px;
    font-weight: 300;
    text-align: center;

}

body > footer > div > div:nth-child(2) > img {
    width: 72px;
    height: 62px;

}

body > footer > div > div:nth-child(2) > h4 {
    top: 85px;

}

body > footer > div > div:nth-child(2) > p {
    top: 110px;

}

body > footer > div > div:nth-child(3) > img {
    width: 74px;
    height: 76px;

}

body > footer   > div > div:nth-child(3) > h4 {
    top: 85px;

}

body > footer > div > div:nth-child(3) > p {
    top: 110px;

}

body > footer > div > div:nth-child(2) {
    top: 120px;
    left: 20vw;

}

body > footer > div > div:nth-child(3) {
    top: 120px;
    left: 0;
    right: 0;
    margin: auto;

}

body > footer > div > div:nth-child(3) {
    top: 120px;
    left: 0;
    right: 0;
    margin: auto;

}

body > footer > div > div:nth-child(4) {
    position: absolute;
    display: flex;
    width: fit-content;
    height: fit-content;
    right: 13vw;
    top: 150px;

}

body > footer > div > div:nth-child(4) > a > img {
    position: relative;
    margin: 10px;
    height: 60px;
    width: 60px;

}

body > footer > div:nth-child(2) {
    position: relative;
    width: 100%;
    height: 42px;
    background-color: #E85D04;

}

body > footer > div:nth-child(2) > img {
    position: absolute;
    height: 30px;
    aspect-ratio: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

