/* header */
body {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}
body > header {
    position: absolute;
    background-color: #040404;
    width: 100%;
}

body > header > a:first-child > img {
    position: absolute;
    top: 44.4px;
    left: 8.13vw;
    width: 50.4375px;
    aspect-ratio: auto;
}

body > header > nav {
    height: fit-content;
    width: fit-content;
    position: absolute;
    right: 6.93vw;
    top: 44px;

}

body > header > nav > a {
    color: #FFFFFF;
    text-decoration: unset;
    font-size: 24px;
    font-weight: 500;
    margin-right: 1.875vw;

}

/* hero section */
body > main > section:first-child {
    width: 100%;
    height: 955px;
    background-color: #040404;
    overflow: hidden;
    position: relative;
    z-index: -1;

}

body > main > section:first-child > h4 , body > main > section:first-child > h3 , body > main > section:first-child > h1 , body > main > section:first-child > button {
    margin: 0;
    position: absolute;
    left: 8.13vw;

}

body > main > section:first-child > h3:first-child {
    /*top: 26.5vh;*/
    top: 250px;
    /*font-size: 2.11vw;*/
    font-size: 42px;
    font-weight: 300;

}

body > main > section:first-child > h1:nth-child(2) {
    /*top: 35vh;*/
    top: 326px;
    /*font-size: 4.22vw;*/
    font-size: 84px;
    font-weight: 900;

}

body > main > section:first-child > h1:nth-child(3) {
    left: calc(8.13vw + 192px);
    /*top: 35vh;*/
    top: 326px;
    /*font-size: 4.22vw;*/
    font-size: 84px;
    font-weight: 900;
    color: #E85D04;

}

body > main > section:first-child > h3:nth-child(4) {
    /*font-size: 2.11vw;*/
    font-size: 42px;
    font-weight: 600;
    /*top: 46.5vh;*/
    top: 441px;

}

body > main > section:first-child > h4:nth-child(5) {
    /*font-size: 1vw;*/
    font-size: 20px;
    font-weight: 300;
    /*top: 55vh;*/
    top: 538px;

}

body > main > section:first-child > button:nth-child(6) {
    /*font-size: 1.608vw;*/
    font-size: 32px;
    font-weight: 800;
    color: #E85D04;
    text-align: left;
    padding-left: 2vw;
    width: 309px;
    height: 70px;
    box-sizing: border-box;
    background-color: #1C1C1C;
    border: 1px solid #E85D04;
    border-radius: 50px;
    /*top: 64vh;*/
    top: 623px;

}

body > main > section:first-child > button:nth-child(6) > img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    width: 40px;
    aspect-ratio: auto;

}

body > main > section:first-child > div:nth-child(7) > img:first-child {
    position: absolute;
    /*width: 38.8vw;*/
    height: 900px;
    aspect-ratio: auto;
    bottom: 0;
    right: 4vw;

}

body > main > section:first-child > div:nth-child(7) > img:nth-child(2) {
    position: absolute;
    /*width: 38.8vw;*/
    height: 1144.46px;
    aspect-ratio: auto;
    border-radius: 180px;
    transform: rotate(-132.26deg);
    rotation-point: top;
    top: 18vh;
    right: -33vw;
    z-index: -1;

}

body > main > section:first-child > div:nth-child(8) {
    position: absolute;
    display: flex;
    width: fit-content;
    height: fit-content;
    left: 0;
    right: 0;
    bottom: 15px;
    margin: auto;

}

body > main > section:first-child > div:nth-child(8) > a > img {
    position: relative;
    margin: 10px;
    height: 60px;
    width: 60px;

}

/* about me section */
body > main > section:nth-child(2) {
    width: 100%;
    height: 955px;
    background-color: #040404;
    position: relative;
    z-index: -1;

}

body > main > section:nth-child(2) > img {
    position: absolute;
    height: 641px;
    aspect-ratio: auto;
    border: 8px solid #E85D04;
    top: 167px;
    left: 9vw;

}

body > main > section:nth-child(2) > h3 {
    position: absolute;
    font-size: 48px;
    font-weight: 600;
    color: #E85D04;
    top: 180px;
    left: calc(9vw + 613px);

}

body > main > section:nth-child(2) > div {
    position: absolute;
    margin: 0;
    background-color: #E85D04;
    height: 6px;
    top: 290px;

}

body > main > section:nth-child(2) > div:nth-child(3) {
    width: 297px;
    left: calc(9vw + 613px);

}

body > main > section:nth-child(2) > div:nth-child(4) {
    width: 6px;
    left: calc(9vw + 925px);

}

body > main > section:nth-child(2) > p:nth-child(5) {
    position: absolute;
    margin: 0;
    width: 50vw;
    top: 420px;
    left: calc(9vw + 613px);
    font-size: 24px;

}

body > main > section:nth-child(2) > button:nth-child(6) {
    position: absolute;
    width: 215px;
    height: 44px;
    box-sizing: border-box;
    background-color: #1C1C1C;
    border: 1px solid #E85D04;
    border-radius: 50px;
    top: 610px;
    left: calc(9vw + 613px);

}

body > main > section:nth-child(2) > button:nth-child(6) > a {
    color: #E85D04;
    text-decoration: unset;
    font-size: 24px;
    font-weight: 500;

}
