/* gallery section */
body > main > section {
    position: relative;
    width: 100%;
    height: 7900px;
    background-color: #040404;
    z-index: 0;

}

body > main > section > div {
    position: absolute;
    width: 1592px;
    height: 7170px;
    left: 0;
    right: 0;
    top: 465px;
    margin: auto;

}

body > main > section > div > div {
    position: absolute;
    overflow: hidden;

}

body > main > section > div > div > div {
    position: absolute;
    transition-duration: 0.5s;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;

}

body > main > section > div:nth-child(2) > div > div:hover {
    transform: scale(1.1);

}

body > main > section > div > div:first-child,
body > main > section > div > div:nth-child(3),
body > main > section > div > div:nth-child(5),
body > main > section > div > div:nth-child(6),
body > main > section > div > div:nth-child(8),
body > main > section > div > div:nth-child(10),
body > main > section > div > div:nth-child(13),
body > main > section > div > div:nth-child(15),
body > main > section > div > div:nth-child(17),
body > main > section > div > div:nth-child(18) {
    left: 0;
}

body > main > section > div > div:first-child,
body > main > section > div > div:nth-child(2),
body > main > section > div > div:nth-child(4),
body > main > section > div > div:nth-child(7),
body > main > section > div > div:nth-child(9),
body > main > section > div > div:nth-child(12),
body > main > section > div > div:nth-child(14),
body > main > section > div > div:nth-child(16),
body > main > section > div > div:nth-child(19) {
    right: 0;
}


body > main > section > div > div:first-child {
    width: 858px;
    height: 644px;
}



body > main > section > div > div:nth-child(2) {
    width: 711px;
    height: 492px;
}

body > main > section > div > div:nth-child(3) {
    width: 858px;
    height: 374px;
    top: 665px;
}

body > main > section > div > div:nth-child(4) {
    width: 711px;
    height: 532px;
    top: 507px;
}

body > main > section > div > div:nth-child(5) {
    width: 1592px;
    height: 1063px;
    top: 1060px;
}

body > main > section > div > div:nth-child(6) {
    width: 1017px;
    height: 741px;
    top: 2144px;
}

body > main > section > div > div:nth-child(7) {
    width: 556px;
    height: 741px;
    top: 2144px;
}

body > main > section > div > div:nth-child(8) {
    width: 631px;
    height: 634px;
    top: 2906px;
}

body > main > section > div > div:nth-child(9) {
    width: 941px;
    height: 706px;
    top: 2906px;
}

body > main > section > div > div:nth-child(10) {
    width: 631px;
    height: 449px;
    top: 3561px;
}

body > main > section > div > div:nth-child(11) {
    width: 502px;
    height: 377px;
    left: 651px;
    top: 3633px;
}

body > main > section > div > div:nth-child(12) {
    width: 419px;
    height: 377px;
    top: 3633px;
}

body > main > section > div > div:nth-child(13) {
    width: 601px;
    height: 901px;
    top: 4031px;
}

body > main > section > div > div:nth-child(14) {
    width: 972px;
    height: 750px;
    top: 4031px;
}

body > main > section > div > div:nth-child(15) {
    width: 600px;
    height: 450px;
    top: 4953px;
}

body > main > section > div > div:nth-child(16) {
    width: 972px;
    height: 601px;
    top: 4802px;
}

body > main > section > div > div:nth-child(17) {
    width: 1592px;
    height: 1063px;
    top: 5426px;
}

body > main > section > div > div:nth-child(18) {
    width: 870px;
    height: 653px;
    top: 6512px;
}

body > main > section > div > div:nth-child(19) {
    width: 704px;
    height: 653px;
    top: 6512px;
}

body > main > section > div > div:first-child > div {
    background-image: url("/assets/img/gallery/gallery-01.jpg");
}

body > main > section > div > div:nth-child(2) > div {
    background-image: url("/assets/img/gallery/gallery-02.jpg");
}

body > main > section > div > div:nth-child(3) > div {
    background-image: url("/assets/img/gallery/gallery-03.jpg");
}

body > main > section > div > div:nth-child(4) > div {
    background-image: url("/assets/img/gallery/gallery-04.jpg");
}

body > main > section > div > div:nth-child(5) > div {
    background-image: url("/assets/img/gallery/gallery-05.jpg");
}

body > main > section > div > div:nth-child(6) > div {
    background-image: url("/assets/img/gallery/gallery-06.jpg");
}

body > main > section > div > div:nth-child(7) > div {
    background-image: url("/assets/img/gallery/gallery-07.jpg");
}

body > main > section > div > div:nth-child(8) > div {
    background-image: url("/assets/img/gallery/gallery-08.jpg");
}

body > main > section > div > div:nth-child(9) > div {
    background-image: url("/assets/img/gallery/gallery-09.jpg");
}

body > main > section > div > div:nth-child(10) > div {
    background-image: url("/assets/img/gallery/gallery-10.jpg");
}

body > main > section > div > div:nth-child(11) > div {
    background-image: url("/assets/img/gallery/gallery-11.jpg");
}

body > main > section > div > div:nth-child(12) > div {
    background-image: url("/assets/img/gallery/gallery-12.jpg");
}

body > main > section > div > div:nth-child(13) > div {
    background-image: url("/assets/img/gallery/gallery-13.jpg");
}

body > main > section > div > div:nth-child(14) > div {
    background-image: url("/assets/img/gallery/gallery-14.jpg");
}

body > main > section > div > div:nth-child(15) > div {
    background-image: url("/assets/img/gallery/gallery-15.jpg");
}

body > main > section > div > div:nth-child(16) > div {
    background-image: url("/assets/img/gallery/gallery-16.jpg");
}

body > main > section > div > div:nth-child(17) > div {
    background-image: url("/assets/img/gallery/gallery-17.jpg");
}

body > main > section > div > div:nth-child(18) > div {
    background-image: url("/assets/img/gallery/gallery-18.jpg");
}

body > main > section > div > div:nth-child(19) > div {
    background-image: url("/assets/img/gallery/gallery-19.jpg");
}


